@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Chrome / Edge / Safari autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #b70851; /* pink text */
  -webkit-box-shadow: 0 0 0px 1000px #f892bd inset; /* bg-pink-100 */
  transition: background-color 5000s ease-in-out 0s;
}
